* {
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  background-color: rgba(50, 115, 220, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculator {
  background-image: linear-gradient(rgb(26, 197, 169), rgb(25, 31, 211));
  padding: 30px;
  border-radius: 15px;
  box-shadow: inset;
  box-shadow: 10px 11px 16px -3px rgba(0, 0, 0, 0.87);
  -webkit-box-shadow: 10px 11px 16px -3px rgba(0, 0, 0, 0.87);
  -moz-box-shadow: 10px 11px 16px -3px rgba(0, 0, 0, 0.87);
}
.calculator form input {
  border: 0;
  outline: 0;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  background: transparent;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
}
form .display {
  display: flex;
  justify-content: flex-end;
  margin: 0px;
  border: 3px solid;
  border-radius: 15px;
}
form .display input {
  text-align: right;
  flex: 1;
  font-size: 45px;
  box-shadow: none;
}
form input.equal {
  min-width: 145px;
}
[type="button"]:hover {
  background-color: rgb(139, 230, 112);
}
.calculator:hover {
  box-shadow: 0px 0px 26px 5px rgba(0, 0, 0, 0.83);
  -webkit-box-shadow: 0px 0px 26px 5px rgba(0, 0, 0, 0.83);
  -moz-box-shadow: 0px 0px 26px 5px rgba(0, 0, 0, 0.83);
}
